.participant {
  align-items: baseline;
  display: inline-flex;
}

.participant::before {
  background-color: var(--color);
  border: 1px solid #555;
  border-radius: 0.25em;
  bottom: -1px;
  content: "";
  display: inline-block;
  height: 0.73em;
  margin-right: 0.25em;
  position: relative;
  width: 0.73em;
}
